/*@font-face {
    font-family: 'OpenSansRegular';
    src: url('/css/fonts/OpenSans-Regular-webfont.eot');
    src: url('/css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/css/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('/css/fonts/OpenSans-Semibold-webfont.eot');
    src: url('/css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


*{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 18px;
	
}

#container {
	background-color: rgba(255, 255, 255, 0);
	max-width: 900px;
	padding: 50px;
	width: 900px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
#container #header {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	height: 210px;
}
#container #header #logo {
	background-image: url(/images/logo-header_md.jpg);
	float: left;
	height: 166px;
	width: 288px;
}
#container #header #logo .invisible {
	display: none;
}

#container #header nav ul {
	padding-top: 50px;
	/* float: right; */
}

/*#container #header nav ul li {
	display: inline;
	margin-left: 20px;
	color: #999;
}
#container #header nav ul li a {
	color: #999;
	letter-spacing: 0px;
	font-size: 14px;
	text-decoration: none;
	text-align: left;
	font-weight: normal;
	text-transform: capitalize;
font-family: 'OpenSansSemibold';
}
#container #header nav ul li a:active {
	color:#111;
}*/
#container #header #locales, #container #header-admin #locales {
    float: right;
}
#locales a {
    border: solid 1px #cccccc;
    padding: 2px;
    color: #333
}
#container #header nav ul{float:right;}
#container #header nav ul li {display:block; float:left; margin-left:1px;}
#container #header nav ul li a { display:block; text-decoration:none; color:#58585a; padding:10px; font-size: 14px; text-transform: capitalize; font-family: 'OpenSansSemibold';}
#container #header nav ul li a:hover{background:#882734; color:#fff;}
#container #header nav ul ul { position:absolute; visibility:hidden; background:#eaeaea;
-moz-box-shadow: 1px 1px 2px 1px #CCCCCC;-webkit-box-shadow: 1px 1px 2px 1px #CCCCCC;box-shadow:1px 1px 2px 1px #CCCCCC; z-index:100; margin:0; padding:0;}
#container #header nav ul ul li { float:none; margin:0px;padding:10px; border-bottom:1px solid #ccc;}
#container #header nav ul ul li a{padding:5px 10px; text-transform:none; font-family: 'OpenSansRegular';}
#container #header nav ul ul li a:hover{background:none; color:#000;}
#container #header nav ul li:hover ul { visibility:visible;}





#container #header #pagetitle {
	margin-top: 35px;
	font-size: 24px;
	text-align: center;
font-family: 'OpenSansSemibold';
clear:both;

}

#container #lower {
	clear: both;
	width: 100%;
	margin: auto;
overflow:hidden;
}
#container #lower #payload #tablet-list {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#container #lower #image-list {
	margin-top: 10px;
	height: 600px;
	padding-left: 11px;
}

#container #lower #image-list img {
	float: left;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 40px;
}
#container #lower #image-list .quoted-image {
	float: left;
	margin-top: 50px;
	width: 200px;
	margin-right: 4px;
	margin-left: 4px;
	text-align: center;
}


#container #lower #image-list .tall {
	height: 260px;
}
#container #lower #image-list .wide {
	width: 240px;
}
#container #lower #payload {
	clear: both;
	margin-top: 40px;
	display: block;
	width: 100%;
}
#container #lower #payload .quote {
	font-family: arial;
	font-style: italic;
	color: #333;
	text-align: center;
}
#container #lower #payload .wall-tablet {
	width: 600px;
	clear: both;
	display: block;
	margin-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	height: 225px;
}

#container #lower #payload .wall-tablet-image {
	width: 160px;
	float: left;
	margin-left: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#container #lower #payload .wall-tablet .wall-tablet-image img {
	height: 195px;
}

#container #lower #payload .wall-tablet-description {
	float: right;
	width: 350px;
}
#container #lower #payload #design-list .quoted-image {
	width: 250px;
	text-align: center;
	float: left;
	margin-right: 10px;
	margin-top: 15px;
}





#container #footer {	
	clear: both;
	width: 100%;
	margin-top: 40px;
	font-family: arial;
	font-style: italic;
	color: #333;
	text-align: center;
padding-top:30px;
margin-top:50px;
border-top:1px solid #ccc;
}

#container #footer #footerNav {
	font-style: normal;
}
#container #footer #footerNav ul li {
	display: inline;
}
#container #footer #footerNav ul li a {
	color: #666;
}