#list li {
    list-style: none;
}

#list .item {
    width: 550px;
    padding-top: 10px;
    clear: both;
    margin-top: 10px;
    border-top: solid 1px lightgrey
}

#list .item img {
    float: left;
    margin: -10px 0px 0px 20px;
}

#list .item .actions {
    width: 125px;
    float: right;
}
