.Trash-1000

.sass-cache

vendor

composer.lock

app/cache/*
app/logs/*
logs

node_modules

app/config/credentials.yml
vendor/bin/phpunit
documentation

bower_components
src/components/*/dist
src/framework/core/components/*/dist

web/components/*
web/images/claims/*
web/images/components/*
web/js/angular/*
web/css/components/*
web/css/framework/*

