.Trash-1000

.sass-cache

web/assets/default*
vendor
vendor/bin/phpunit

composer.lock

app/cache/*
app/logs/*
app/config/credentials.yml

node_modules


web/assets
web/assets/default/images/images
web/assets/default-bak/images/images
web/css/theme
web/js/theme
web/images/theme
web/components

documentation
bower_components

src/components/*/dist
src/framework/core/components/*/dist
