<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>|title|</title>

<!-- css import for page -->
<link rel="stylesheet" href="/css/core.min.css">

<!-- css start -->
<link href="/css/components/staff/dist/css/staff.min.css" rel="stylesheet">

<!-- css end -->

<!-- head start -->
<script language="javascript" src="/js/components/staff/dist/bower_components/angular/angular.min.js"></script>
<script language="javascript" src="/js/components/staff/dist/bower_components/jquery/dist/jquery.min.js"></script>
<script language="javascript" src="/js/components/staff/dist/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script language="javascript" src="/js/components/staff/dist/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- head end -->

</head>

<body cz-shortcut-listen="true">
<header>
  <nav>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="/" class="navbar-brand"> <img class="default-logo" src="/images/logo.png" alt="Logo"> </a> </div>
    <!--
                <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
                    <ul class="navbar-left">
                        <li><a href="/admin/dashboard" class="active">Home</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Claims <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/claims">Claims List</a></li>
                                <li><a href="#">Your Claims</a></li>
                                <li><a href="#">New Claim</a></li>
                            </ul>
                        </li>
                        <li><a href="">Accounting</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Directory <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="">Clients</a></li>
                                <li><a href="">Customers</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/staff">Staff</a>
                        </li>
                    </ul>
        -->
    
    <div id="bs-example-navbar-collapse" class="collapse navbar-collapse">
      <ul class="navbar-left">
        <li><a href="/admin/home">Home</a></li>
        <li><a href="/super/home">SUPER_USER_HOME</a></li>
        <li><a href="/admin/contact/0/20">ADMIN_CONTACTUS</a></li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/staff/0/20">ADMIN_STAFF_LIST</a></li>
            <li><a href="/admin/staff/0">ADMIN_STAFF_ADD_NEW</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/scoping/requests/0/20">Scoping <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/scoping/requests/0/20">ADMIN_SCOPING_LIST_ALL</a></li>
            <li><a href="/admin/scoping/takeoffs/0/20">ADMIN_SCOPING_TAKEOFFS_LIST_ALL</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/claims/0/20">Claims <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/claims/0/20">ADMIN_CLAIMS_LIST_ALL</a></li>
            <li><a href="/admin/claim/1/0">ADMIN_CLAIMS_CREATE_NEW</a></li>
            <li><a href="/admin/claims/scheduling/0/20">ADMIN_CLAIMS_SCHEDULING</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li title="disabled on this release">Contents</li>
        <li><a href="/admin/samples/0/20">Samples</a></li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/contacts/0/20">Contacts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/contacts/0/20">ADMIN_CONTACTS_LIST_ALL</a></li>
            <li><a href="/admin/contacts/0">ADMIN_CONTACTS_ADD_NEW</a></li>
            <li><a href="/admin/companies/0/20">ADMIN_COMPANIES_LIST_ALL</a></li>
            <li><a href="/admin/companies/0">ADMIN_COMPANIES_ADD_NEW</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li title="disabled on this release">Inventory</li>
        <li title="disabled on this release">Keys</li>
        <li><a href="/admin/notifications/0/20">Notifications</a></li>
        <li><a href="/admin/messaging/0/20">Messaging</a></li>
        <li title="disabled on this release">Satisfaction</li>
        <li title="disabled on this release">Call Matrix</li>
        <li title="disabled on this release">Deficiencies</li>
        <li title="disabled on this release">SubContractors</li>
        <li title="disabled on this release">Accounting</li>
        <li><a href="/admin/workperformed/0/20">Work Actions</a></li>
        <li><a href="/admin/environmental/0/20">Environmental</a></li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/cms/pages/0/20">Website <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/cms/pages/0/20">ADMIN_CMS_LIST_ALL_PAGES</a></li>
            <li><a href="/admin/cms/pages/0">ADMIN_CMS_ADD_NEW_PAGE</a></li>
            <li><a href="/admin/cms/sections/0/20">ADMIN_CMS_LIST_ALL_SECTIONS</a></li>
            <li><a href="/admin/cms/blogs/0/20">ADMIN_CMS_LIST_ALL_BLOGS</a></li>
            <li><a href="/admin/cms/blogs/0">ADMIN_CMS_ADD_NEW_BLOGS</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/projects/0/20">Building Addresses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/projects/0/20">ADMIN_PROJECTS_LIST_ALL</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li><a href="/admin/incidents/0/20">ADMIN_INCIDENTS</a></li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/surveys/0/20">ADMIN_SURVEYS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/surveys/0/20">ADMIN_SURVEYS_LIST_ALL</a></li>
            <li><a href="/admin/surveys/pages/0/20">ADMIN_SURVEYS_LIST_ALL_PAGES</a></li>
            <li><a href="/admin/surveys/panes/0/20">ADMIN_SURVEYS_LIST_ALL_PANES</a></li>
            <li><a href="/admin/surveys/questions/list/0/20">ADMIN_SURVEYS_LIST_ALL_QUESTIONS</a></li>
            <li><a href="/admin/surveys/answers/list/0/20">ADMIN_SURVEYS_LIST_ALL_ANSWERS</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li class='dropdown'><a class="dropdown-toggle" data-toggle="dropdown" href="/admin/events/0/20">ADMIN_EVENTS <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/events/0/20">ADMIN_EVENTS_LIST_ALL</a></li>
            <li><a href="/admin/events/locations/0/20">ADMIN_EVENTS_LIST_ALL_LOCATIONS</a></li>
            <li><a href="/admin/events/eventcontacts/0/20">ADMIN_EVENTS_LIST_ALL_CONTACTS</a></li>
            <li><a href="/admin/events/eventprospects/0/20">ADMIN_EVENTS_LIST_ALL_PROSPECTS</a></li>
          </ul>
          <!--- close child ul --> 
        </li>
        <li title="disabled on this release">ADMIN_CART</li>
      </ul>
      <ul class="navbar-right">
        <li class="dropdown" id="context-button">
          <button class="primary" > STAFF_NEW</button>
        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="userimage" src="http://placehold.it/25x25" alt=""> User Name <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Your Tickets</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="clearfix"></div>
<main class="content full-width">
  <div class="widget" ng-controller="staffListCtrl">
    <div class="widget-content" ng-class="{'panel-open': selectedStaff}">
      <h1 class="pull-left">Staff List</h1>
      <a href="staff/edit/0" class="pull-right">STAFF_NEW</a>
      <div class="clearfix"></div>
      <div class="pull-right">
        <button class="btn-link" ng-click="openStaffAdvancedSearchModal()"> STAFF_ADVANCED_SEARCH </button>
        <input type="text" list="autocomplete-list" ng-model="basicSearch.val[0]" ng-model-options="{debounce:500}">
        <datalist id="autocomplete-list">
          <option ng-if="!autocomplete.length > 0" value="">STAFF_LOADING</option>
          <option ng-repeat="value in autocomplete" value="{{value.firstname}} {{value.lastname}}"></option>
        </datalist>
        <select name="basicSearchCol" id="basic-search-col" ng-model="basicSearch.col[0]"
        ng-init="basicSearch.col[0] = 'name'">
          <option value="name" ng-selected="true">STAFF_NAME</option>
          <option value="ext">STAFF_EXT</option>
          <option value="phone">STAFF_PHONE</option>
        </select>
        <button class="primary" ng-click="search(basicSearch)"> STAFF_SEARCH </button>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>STAFF_NAME</th>
            <th>STAFF_TITLE</th>
            <th>STAFF_EXT</th>
            <th>STAFF_MOBILE</th>
            <th>STAFF_STATUS</th>
            <th>STAFF_LAST_LOGIN</th>
            <th class="cog-col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="loading">
            <td></td>
            <td></td>
            <td></td>
            <td><span class="spinner-loader"></span></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-if="!loading" ng-repeat="staff in staffList" ng-click="selectRow(staff)" ng-class="{'selected': staff.clicked, 'inactive': staff.status=='inactive'}">
            <td><a href="mailto:{{staff.email}}">{{staff.lastname}}, {{staff.firstname}}</a></td>
            <td>{{staff.title}}</td>
            <td>{{staff.telephone}}</td>
            <td>{{staff.mobile}}</td>
            <td>{{staff.status}}</td>
            <td>{{staff.lastLogin}}</td>
            <td class="row-controls"><div class="dropdown">
                <button class="btn btn-default dropdown-toggle glyphicon glyphicon-cog" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                  <li><a ng-click="openStaffScheduleModal(staff)">Schedule</a></li>
                  <li><a href="edit/{{staff.id}}">Edit</a></li>
                  <li><a href="#">Emergency Contacts</a></li>
                  <li><a href="#">Delete</a></li>
                </ul>
              </div></td>
          </tr>
        </tbody>
      </table>
      <pagination total-items="totalItems" ng-model="currentPage" max-size="itemsPerPage"
      class="pagination" boundary-links="true" rotate="false"> </pagination>
    </div>
    <div class="widget-side-panel">
      <h1>{{selectedStaff.firstname}} {{selectedStaff.lastname}}</h1>
      <h4>
      STAFF_TELEPHONE
      </h3>
      <p>{{selectedStaff.telephone}}</p>
      <h4>
      STAFF_MOBILE
      </h3>
      <p>{{selectedStaff.mobile}}</p>
      <h4>
      STAFF_EMAIL
      </h3>
      <p>{{selectedStaff.email}}</p>
      <h4>
      STAFF_CITY
      </h3>
      <p>{{selectedStaff.city}}</p>
      <h4>
      STAFF_POSTALCODE
      </h3>
      <p>{{selectedStaff.postalCode}}</p>
      <h4>
      STAFF_TITLE
      </h3>
      <p>{{selectedStaff.title}}</p>
      <h4>
      STAFF_EMPLOYEENUM
      </h3>
      <p>{{selectedStaff.employeeNumber}}</p>
    </div>
    <div class="clearfix"></div>
    <form class="hidden">
      <input type="hidden" name="FORM_SECURITY_TOKEN" id="FORM_SECURITY_TOKEN" value="$1$YaU2aNbc$3UW9LdiKJ8dc5a01tol47/" />
    </form>
  </div>
</main>
<div class="clearfix"></div>
<footer>
  <div class="wrapper">
    <div id="footerNav">
      <ul>
        <li><a href="terms.htm">terms of service</a></li>
        |
        <li><a href="privacy.htm">privacy policy</a></li>
      </ul>
    </div>
    Copyright (c) 2015 phoenixrestorations.com.
    All Rights Reserved. |
    Powered By GossamerCMS framework </div>
</footer>
</body>
<script language="javascript" src="/js/components/staff/dist/js/staff.concat.js"></script>
<script language="javascript">
    (function() {
      angular.bootstrap(document, ['staffAdmin']);
    })();
  </script>
</html>
