/*
 This file is part of the Quantum Unit Solutions development package.

 (c) Quantum Unit Solutions <http://github.com/dmeikle/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
*/
/* 
    Created on : 13-Apr-2015, 9:16:44 AM
    Author     : davem
*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/css/fonts/OpenSans-Regular-webfont.woff) format('woff');
}
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/css/fonts/OpenSans-Semibold-webfont.woff) format('woff');
}