@import 'bootstrap-custom';

@mixin width-transition {
    transition: width ease .25s;
}

.widget-content {
    @include width-transition;
}

.widget-side-panel {
    @include width-transition;
}

.splitcolumn {
    @extend .col-xs-6;

    &.left {
        padding-left:0;
    }
    &.right {
        padding-right:0;
    }
}

.modal-xl {
    @extend .modal-lg;
    width: 1200px;

}
.select-col{
    width:45px;
}
.expand-btn{
    cursor:pointer;
}

.h3button {
    margin-top:20px;
}
/*.table-striped>tbody>tr:nth-of-type(odd):not(.bg-warning) {
    @extend .table-striped>tbody>tr:nth-of-type(odd);
}*/
.table-striped>tbody>tr:nth-of-type(odd).bg-warning{
    /*@extend .table-striped>tbody>tr:nth-of-type(odd);*/
    @extend .bg-warning;
}

.form-control[type="checkbox"] {
    box-shadow: none;
}

#secondary-sheet {
    h3 {
        margin-top: 11px;
    }
    input, label { 
        margin-top:0;
        margin-bottom:0;
    }
    .col-md-12 > .col-md-12{
        padding-left: 0px;
        padding-right: 0px;
    }
}