#container #left-col {
	width: 100px;
}
#container #header {
	width: 100%;
}
#container #header #info {
	float: right;
}
#container #lower {
	clear: both;
}
#container #lower #left-feature {
	float: left;
	width: 100%;
}
#container #lower #right-feature {
	float: left;
	width: 30%;
}
#container #lower #right-col {
	float: right;
	width: 100px;
}
#container #right-panel-slider {
	width: 80%;
}
#container #header #profile-container {
	float: right;
	margin-right: 10px;
}
#container #header #profile-container #avatar {
	float: left;
}
#container #header #logo {
	float: left;
	height: 64px;
	width: 75px;
	background-image: url(//images.phoenixrestorations.com/nav-icons/logo.png);
}
#container #header form {
	float: left;
	width: 30%;
}
#container #header #profile-container #nav {
	float: left;
	width: 120px;
	margin-left: 10px;
	margin-top: 20px;
}


/** section for striping table rows **/
.table-striped thead th, .table-striped tr:last-child{
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0.1);
}
.table-striped tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0.05);
}
.table-striped tbody tr:last-child td {
    border-bottom: 0;
}
.table-striped tbody tr:nth-child(odd) td {
    background-color: #eeeeee;
    border-bottom: rgba(0,0,0,.04);
}