/*
 This file is part of the Quantum Unit Solutions development package.

 (c) Quantum Unit Solutions <http://github.com/dmeikle/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
*/
/* 
    Created on : 10-Apr-2015, 11:20:55 AM
    Author     : dave meikle
*/


.chat_wrapper {
    width: 100%;
    border-radius:5px;
    overflow-y: scroll;
    height: 390px;
    padding: 0px 10px 10px 15px;
}
.chat_wrapper #message_box {
    width: 96%;
    margin: 5px;
}
.chat_wrapper #message_box .row {
    height: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chat_wrapper #message_box .row .icon {
    float: left;
    width: 20px;
    margin-right: 10px;
}
.chat_wrapper #message_box .row .subject {
    float: left;
    width: 50%;
}
.chat_wrapper #message_box .row .icon .message {
    clear: both;
    width: 100%;
}
.chat_wrapper #message_box .row .date {
    float: right;
    width: 60px;
}
.chat_wrapper #message_box .row .leftcol {
    width: 30px;
    float: left;
}
.chat_wrapper #message_box .row .middlecol {
    width: 415px;
    float: left;
    margin-left: 8px;
}
.chat_wrapper #message_box .row .middlecol .subject {
    width: 100%;
}
.chat_wrapper #message_box .row .middlecol .message {
    width: 100%;
}
.chat_wrapper #message_box .row .rightcol {
    float: right;
    width: 65px;
}
.chat_wrapper #message_box .row .rightcol {
    font-size: 10px;
    font-family: Verdana, Geneva, sans-serif;
}
.chat_wrapper #message_box .row .middlecol .subject {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #666;
}
.chat_wrapper #message_box .row .middlecol .message {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
}