.pull-right{
    .form-control{
        display:inline!important;
        width:auto;
    }
}
table{
    margin-top:10px;
    td{
        vertical-align: middle!important;
    }
}
.modal-lg{
    width:1300px;
    .laborer, .date, .total-hours, .form-control{
        display:inline;
    }
    .date{
        float:right;
        margin-right:10px;
        label{
            margin-right:10px;
        }
    }
    .laborer{
        input{
            margin-left:10px;
        }
        .form-control{
            width:auto;   
        }
    }
    table{
        td{
            vertical-align: top!important;
            &:nth-child(1){
                vertical-align: middle!important;
            }
        }
        select{
            font-size:16px;
        }
        textarea{
            max-width: 200px;
            min-width: 200px;
        }
        input{
            width: 100%;
        }
        .claims, .phase, .category, description{
            min-width:100px;
        }
        .hours{
            width:50px;
            text-align:center;
        }
        .checkbox, .select-all{
            width:30px;
            text-align:center;
            margin:auto;
        }
        .total{
            vertical-align: middle!important;
            text-align: center;
        }
        .totalRow{
            td{
                text-align: center;
            }
        }
        .toll{
            width:75px;
        }
    }
}