table{
    margin-top:10px;
    td{
        vertical-align: middle!important;
    }
}
#new-timesheet{
    .modal-lg{
        width:1200px;
    }
    .laborer, .date, .total-hours{
        display:inline;
    }
    .date{
        margin-left:100px;
    }
    .total-hours{
        float:right;
        margin-right:40px;
    }
    .laborer{
        input{
            margin-left:10px;
        }
    }
    table{
        td{
            vertical-align: top!important;
        }
        textarea{
            max-width: 200px;
            min-width: 200px;
        }
        input{
            width: 100px;
        }
        .hours, .checkbox{
            width:50px;
            text-align:center;
        }
    }
}