<div class="button-container">
  <button type="button" name="addNewWidget" ng-click="addNewWidgetRow()" class="btn btn-primary col-xs-offset-10 col-xs-2">Add New</button>
</div>
<table class="table" id="widgetAdminList">
  <thead>
    <th>
      Widget Name
    </th>
    <th>
      Widget Component
    </th>
    <th>
      Widget Module
    </th>
    <th>
      Widget Description
    </th>
    <th>
      Widget HTML Key
    </th>
    <th>
      &nbsp;
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="widget in widgetList">
      <td>
        {{ widget.name }}
      </td>
      <td>
        {{ widget.component }}
      </td>
      <td>
        {{ widget.module }}
      </td>
      <td>
        {{ widget.description }}
      </td>
      <td>
        {{ widget.key }}
      </td>
      <td>
        <button type="button" name="editWidget" ng-click="editWidget(widget.id)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
