
                 <div id="design-list">
              
                   We had a feng Shui master fly in from Shanghai for key office element layout and entrance positioning.  <br>
                   <br>
                   <br>
<div style="display:block; margin-bottom:20px"><img src="images/design2/11.jpg" width="144" height="180"> <img src="images/design2/13.jpg" width="148" height="180"> <img src="images/design2/12.jpg" width="240" height="180"> <img src="images/design2/10.jpg" width="240" height="180"><br>
The stairwells we did grey slate to keep in the rustic feel then to blend in tone with the polished concrete floors as we transition to a more <br>
minimalist design</div>

<div style="display:block; margin-bottom:20px"><img src="images/design2/14.jpg" width="240" height="180"> <img src="images/design2/15.jpg" width="240" height="180"> <img src="images/design2/16.jpg" width="240" height="180"><br>
    Then the side doors we made without the  doornails rivets but with the same lions head as guardians.
</div>
 
  <div style="display:block; margin-bottom:20px"><img src="images/design2/17.jpg" width="240" height="180"> <img src="images/design2/18.jpg" width="240" height="180"> <br>
During the project the building was open for material transport to where the main doors with door rivet nails are now. Everyday looking <br>
at this opening it seemed so appropriate to make this a feature and center point to the building as time went by and make a statement <br>
of power and strength.</div>
 
  
  
  <div style="display:block; margin-bottom:20px"><img src="images/design2/2.jpg" width="240" height="180"> <img src="images/design2/1.jpg" width="240" height="180"><br>
The board room The Company’s western style café, I designed to have the bit of an industrial feel as there is nothing but factories<br>
in this area and compliments the exposed brick walls. What’s great about China is brick is used everywhere but I ask them not to<br>
cover it up as they typically trowel a grey coat mortar then white plaster coat. They say “but the walls won’t be finished” and I am “it’s <br>
the look we want of the old warehouses of the west and the retro feel we want”.</div>
 
  <div style="display:block; margin-bottom:20px"><img src="images/design2/20.jpg"> <img src="images/design2/4.jpg" height="322"><br>
    This wood mosaic wall is made from recycled wood from China cargo ships that have finished their duty and lay to rest on shore. <br>
    When I discovered it at a trade show, besides being so beautiful I thought very poignant in meaning to be used for this trading <br>
    company’s office. We used it as a feature wall behind the reception desk.</div>
  
  
  <div style="display:block; margin-bottom:20px"><img src="images/design2/3.jpg" width="240" height="180"> <img src="images/design2/9.jpg" width="240" height="180"> <img src="images/design2/8.jpg" width="240" height="180"><br>
We made a water wall feature with slow running water, water is a fengshui (shui=water) element. The white glass hanging in the <br>
ceiling represent air (feng=air) and clouds which is a good fortune auspicious meaning.</div>
  
  <div style="display:block; margin-bottom:20px"><img src="images/design2/7.jpg" width="240" height="180"> <img src="images/design2/6.jpg" width="240" height="180"> <img src="images/design2/5.jpg" width="240" height="180"><br>
The wood reception desk and furniture is all custom made and I designed to keep minimal to allow the water wall and wood feature<br>
wall to stand out. We stained the furniture to be in the tone shades of the antique doors and wood feature wall.</div><div class="quoted-image"><img src="images/design2/19.jpg" height="200"> <br>
These doors were custom made on site and weigh over 400 pounds each and are over 10 feet high. This is one large and key element that brings the Asian feel to this design</div>

<div class="quoted-image"><img src="images/design2/21.jpg" height="200"> <br>
The LED lighting pattern is in the style of the fret border which represents and surrounds wealth.</div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
                 </div>
