/*
 This file is part of the Quantum Unit Solutions development package.

 (c) Quantum Unit Solutions <http://github.com/dmeikle/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
*/
/* 
    Created on : 15-Apr-2015, 10:41:33 AM
    Author     : davem
*/

.editmode {
    border: solid 1px slategray;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.textboxAsLabel {
    border: none !important;
    background-color: #fff !important;
    background: transparent !important;
}