/* Basic Overwrites/Resets - Start */
*{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
html,
body{
	color: #656565;
	font-size: 13px;
	background-color: #1D1D1D !important;
	background-image: url("../../../image/admin_theme/base5builder_circloid/site-bg@2x.png") !important;
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
a,
a:visited{
	color: #2d89ef;
	cursor: pointer;
	font-weight: normal;
	text-decoration: none;
}
a.btn,
a.btn:visited{
	color: #ffffff;
}
a.btn.btn-default,
a.btn.btn-default:visited{
	color: #333;
}
b,
strong {
	font-weight: 700;
	letter-spacing: 0.02em;
}
.loading {
	display: none;
	float: right;
	height: 32px;
	margin: 8px 0 0 10px;
	width: 32px;
}
.buttons {
	float: right;
	margin: 0 0 15px 0;
	text-align: right;
}
.faded{
	opacity: 0.7;
}
.m-icon-size-small {
	font-size: 13px !important;
}
.m-icon-size-medium {
	font-size: 24px !important;
}
.m-icon-size-normal {
	font-size: 32px !important;
}
.m-icon-size-large {
	font-size: 64px !important;
}
.top-border {
	position: relative;
	z-index: 1;
}

/* Menu Control On Mobile Devices */
#menu-control{
	display: none;
}
#menu-control .menu-control-outer{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0 auto;
	width: 38px;
}
#menu-control .menu-control-outer .menu-control-inner{
	background: none repeat scroll 0 0 #000000;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	border-top: 1px solid #595959;
	cursor: pointer;
	padding: 7px 10px;
}
#menu-control .menu-control-outer.opened .menu-control-inner,
#menu-control .menu-control-outer .menu-control-inner:hover,
#menu-control .menu-control-outer .menu-control-inner:focus{
	background: none repeat scroll 0 0 #2d89ef;
	border-top: 1px solid #00C2B5;
}
#menu-control .menu-control-outer .menu-control-inner .icon-bar{
	background-color: #F5F5F5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	display: block;
	height: 2px;
	width: 18px;
}
#menu-control .menu-control-outer .icon-bar + .icon-bar{
	margin-top: 3px;
}

/* Bootstrap Overwrites */
h3,
.h3 {
	color: #444444;
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin: 0;
}
h4,
.h4 {
	color: #444444;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin: 0 0 2px 0;
}
h5,
.h5 {
	color: #444444;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
}
h6,
.h6 {
	color: #444444;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
	font-weight: 300;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 7px;
	padding-right: 7px;
}
.panel{
	margin-bottom: 12px;
}
.panel-body{
	padding: 10px;
}
.dropdown-menu{
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 3px solid #2d89ef;
	font-size: 13px;
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
}
select{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	font-size: 12px;
	height: auto;
	line-height: normal;
	margin: 0;
	padding: 3px 6px;
	width: auto;
}
.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}

/* Highlight Colors - Background Color */
.bg-color-green {
	background-color: #5cb85c !important;
}
.bg-color-orange {
	background-color: #ff7e00 !important;
}
.bg-color-yellow {
	background-color: #ffc40d !important;
}
.bg-color-blue {
	background-color: #2d89ef !important;
}
.bg-color-red {
	background-color: #ee1111 !important;
}
.bg-color-lime {
	background-color: #99b433 !important;
}
.bg-color-pink {
	background-color: #ff0097 !important;
}

/* Labels */
.label{
	font-size: 81%;
	font-weight: 400;
}
.label-danger{
	background-color: #d9534f;
}
.label-warning{
	background-color: #f0ad4e;
}
.label-info {
	background-color: #5bc0de;
}
.label-success {
	background-color: #5cb85c;
}
.label-primary {
	background-color: #428bca;
}
.label-default {
	background-color: #777;
}
/* Tables */
.table{
}
.table thead{
	color: #FFFFFF !important;
	background-color: #2d89ef;
	letter-spacing: 0.03em
}
.table thead a{
	color: #FFFFFF !important;
}
.table thead th{
	font-weight: normal;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
	vertical-align: middle;
}
.table > tbody > tr:hover,
.table > tbody > tr:focus{
	background-color: #efefef;
}
/* Forms */
label{
	font-weight: normal;
}
/* Pagination */
.pagination > li:first-child > a,
.pagination > li:first-child > span{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.pager li > a,
.pager li > span{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
/* Tabs */
.nav-tabs{
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
}
.nav.nav-pills{
	margin-bottom: 10px;
}
.nav-pills > li > a{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.nav-tabs > li > a{
	background: #f7f7f7;
	color: #000000;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	padding: 12px;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	background: #FFFFFF;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	background: #FFFFFF;
	color: #000000;
	padding: 10px 12px 12px;
	border-top: 3px solid #2d89ef;
	border-bottom: 1px solid #dddddd;
	font-weight: normal;
}
.nav-tabs .dropdown-menu{
	margin-top: -17px;
}
/* Pills */
.nav-pills{
	border-bottom: 0;
}
.nav-pills > li > a{
	color: #000;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
	color: #FFFFFF;
	background-color: #2d89ef;
	border-bottom: 0;
}
/* Progress Bars */
.progress{
	display: block;
	height: 3px;
	margin-bottom: 5px;
	margin-top: 8px;
	background-color: #ddd;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.progress.progress-jumbo{
	height: 9px;
}
.progress.progress-xl{
	height: 7px;
}
.progress.progress-lg{
	height: 5px;
}
.progress span{
	display: block;
}
.progress-bar{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.progress-striped .progress-bar,
.progress-bar-striped{
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
}
/* Alert Messages */
.alert{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	padding: 15px;
}
.alert-success{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.alert-success .alert-link{
	color: #2b542c;
}
.alert-info{
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.alert-info .alert-link{
	color: #245269;
}
.alert-warning{
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
alert-warning .alert-link{
	color: #66512c;
}
.alert-danger{
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.alert-danger .alert-link{
	color: #843534;
}
.alert .alert-link {
	font-weight: normal;
	text-decoration: underline;
}

/* Header */
#header{
	background-color: #1D1D1D !important;
	background-image: url("../../../image/admin_theme/base5builder_circloid/site-bg@2x.png") !important;
	border-bottom: none;
}
.login-page #header{
	padding-top: 100px;
}
#header .dropdown-menu{
}
#header .dropdown-menu .label{
	margin-top: 2px;
}
.navbar-brand,
#header #button-menu + .navbar-brand{
	padding: 0;
}
.login-page .navbar-brand,
.login-page #header #button-menu + .navbar-brand{
	float: none;
}
.login-page #header .navbar-header{
	float: none;
	text-align: center;
}
#header #button-menu{
	display: none;
}
.small-logo,
.medium-logo{
	display: none;
}
#header > ul.nav{
	margin-top: 5px;
}
#header .nav > li > a{
	border: none;
	color: #ffffff;
}
#header .nav > li.dropdown{
	margin-right: 15px;
}
#header .nav > li.dropdown > a{
	border-left: none;
	width: 42px;
	height: 42px;
	padding: 0;
	position: relative;
	-webkit-transition: background-color 0.5s ease 0s;
	-moz-transition: background-color 0.5s ease 0s;
	transition: background-color 0.5s ease 0s;
}
#header .nav > li.dropdown.help{
	margin-top: -1px;
	margin-left: 10px;
}
#header .nav > li.dropdown.help > a{
	width: auto;
	height: auto;
}
#header .nav > li.dropdown.orders > a.dropdown-toggle{
	background-color: #2D89EF;
	color: #ffffff;
}
#header .nav > li.open.dropdown.orders > a.dropdown-toggle,
#header .nav > li.dropdown.orders > a.dropdown-toggle:hover,
#header .nav > li.dropdown.orders > a.dropdown-toggle:focus{
	background-color: #FFFFFF;
	color: #2D89EF;
}
#header .nav > li.open.dropdown.help > a.dropdown-toggle,
#header .nav > li.dropdown.help > a.dropdown-toggle:hover,
#header .nav > li.dropdown.help > a.dropdown-toggle:focus{
	opacity: 0.7;
}
#header .nav > li.dropdown > a > .label{
	border: 1px solid #fff;
	background-color: #ee1111;
	-webkit-box-shadow: 0 0 0 2px #ee1111 !important;
	-moz-box-shadow: 0 0 0 2px #ee1111 !important;
	box-shadow: 0 0 0 2px #ee1111 !important;
	margin-top: 2px;
	min-width: 16px;
	padding: 1px 2px 2px;
	left: 34px;
	top: 32px;
}
#header .nav > li.dropdown > a > i{
	left: 5px;
	position: absolute;
	top: 5px;
}
#header .nav > li.dropdown > a > i.fa{
	font-size: 14px;
	left: 14px;
	top: 16px;
}
#header .nav > li.dropdown.help > a > span{
	float: left;
	padding-left: 42px;
	margin-top: 1px;
}
#header .nav > li.logout{

}
#header .nav > li.logout a{
	padding: 3px 16px 3px 5px;
}
#header .nav > li.logout a:hover,
#header .nav > li.logout a:focus{
	background-color: transparent;
	opacity: 0.7;
}
#header .nav > li.logout a > i{
	float: left;
}
#header .nav > li.logout a > span{
	float: left;
	margin-left: 5px;
	margin-top: -3px;
}

/*Left Column*/
#column-left{
	background-color: transparent;
	width: 95px !important;
	overflow: visible;
	padding-top: 47px;
	display: block;
}
#column-left.active{
	width: 95px !important;
	overflow: visible;
	display: block;
}
#profile{
	display: none !important;
}
/* ---- 6.1 First Level Menu Styles ---- */
/* Menu Item - Default State */
ul.mainnav{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
ul.mainnav a,
ul.mainnav a:visited{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ul.mainnav > li {
	position: relative;
	text-align: center;
	border-bottom: 0;
	padding-bottom: 3px;
}
ul.mainnav > li > a > span.main-menu-icon {
	display: block;
	text-align: center;
	height: 39px;
}
ul.mainnav.animate > li > a > span.main-menu-icon{
	overflow: hidden;
}
ul.mainnav.animate > li > a > span.main-menu-icon .icon{
	position: relative;
	bottom: -50px;
}
ul.mainnav > li > a > i.icon{
	float: right;
	margin-left: 4px;
	margin-top: 13px;
}
ul.mainnav > li > a > span.main-menu-text {
	display: block;
	text-align: center;
}
ul.mainnav > li > a,
ul.mainnav > li > a:visited{
	color: #cccccc;
	display: block;
	padding: 13px 0;
	-webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s;
	-moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s;
	-o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s;
	transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s;
}
ul.mainnav > li.selected > a,
ul.mainnav > li.selected > a:visited{
	background-color: #FFFFFF;
	color: #000000;
}
/* Menu Item - Hover State */
ul.mainnav > li.menu-open > a,
ul.mainnav > li > a:hover,
ul.mainnav > li > a:focus,
ul.mainnav > li:hover > a,
ul.mainnav > li:focus > a{
	background-color: #ffffff;
	color: #1d1d1d;
}
ul.mainnav > li.menu-open > a > span.main-menu-icon,
ul.mainnav > li > a:hover > span.main-menu-icon,
ul.mainnav > li > a:focus > span.main-menu-icon,
ul.mainnav > li:hover > a > span.main-menu-icon,
ul.mainnav > li:focus > a > span.main-menu-icon{
	color: #444444;
}
/* Menu Item Highlight Colors - Borders - Hover/Selected State */
ul.mainnav > li:hover,
ul.mainnav > li.menu-open,
ul.mainnav-horizontal > li:hover,
ul.mainnav-horizontal > li.menu-open {
	border-bottom: 3px solid #2d89ef;
	padding-bottom: 0;
}
ul.mainnav > li.selected{
	border-bottom: 3px solid #2d89ef;
	padding-bottom: 0;
	color: #2d89ef;
}
ul.mainnav > li.selected > a .icon{
	color: #2d89ef;
}
/* ---- 6.2 Second Level Menu Styles ---- */
/* Menu Item - Default State */
ul.mainnav > li ul{
	display: none;
}
ul.mainnav > li > ul{
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #787878;
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: -206px;
	text-align: left;
	top: -30px;
	width: 222px;
	z-index: 1000;
}
ul.mainnav > li > ul li{
	position: relative;
}
ul.mainnav > li ul i.icon{
	float: right;
	line-height: 25px;
	color: #656565;
}
ul.mainnav > li > ul > li a{
	border-bottom: 1px solid #cccccc;
	color: #1d1d1d;
	display: block;
	line-height: 24px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	-webkit-transition: color 0.2s, background-color 0.2s;
	-moz-transition: color 0.2s, background-color 0.2s;
	-o-transition: color 0.2s, background-color 0.2s;
	transition: color 0.2s, background-color 0.2s;
}
ul.mainnav > li > ul > li:last-child a {
	
}
ul.mainnav > li > ul > li > a {
	padding: 0 12px 0 22px;
}
ul.mainnav > li > ul > li ul {
	padding: 0;
	list-style: none;
}
ul.mainnav > li > ul > li > ul > li > a {
	padding: 0 12px 0 37px;
}
/* Menu Item - Hover State */
ul.mainnav > li > ul > li a:hover,
ul.mainnav > li > ul > li a:focus{
	background: #f7f7f7;
	color: #2d89ef;
}
ul.mainnav > li ul a:hover i.icon{
	color: #2d89ef;
}
/* ---- 6.3 Third Level Menu Styles ---- */
/* Menu Item - Default State */
ul.mainnav > li > ul > li > ul > li > ul > li > a {
	padding: 0 12px 0 37px;
	background: #eeeeee;
}
/* ---- 6.4 Forth Level Menu Styles ---- */
/* Menu Item - Default State */
ul.mainnav > li > ul > li > ul > li > ul > li > ul > li > a {
	padding: 0 12px 0 37px;
	background: #dddddd;
}
ul.mainnav-horizontal > li > ul > li > ul > li > ul > li > ul > li > a {
	padding: 0 12px 0 15px;
	background: #dddddd;
}
/* ---- 6.5 Fifth Level Menu Styles ---- */
/* Menu Item - Default State */
ul.mainnav > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding: 0 12px 0 37px;
	background: #cccccc;
}
ul.mainnav-horizontal > li > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding: 0 12px 0 15px;
	background: #cccccc;
}
#stats{
	display: none;
}
/* Right Column */
#content{
	padding-top: 1px;
	background-color: #FFFFFF !important;
	min-height: 750px;
	padding-bottom: 10px;
	border-top: 5px solid #2d89ef;
	padding: 1px 10px 10px;
}
.login-page #content{
	background-color: transparent !important;
	min-height: auto;
	border-top: 0;
}
#column-left + #content,
#column-left.active + #content{
	margin-left: 95px;
}
.breadcrumb{
	width: 100%;
	background-color: #efefef;
	margin: 0;
	padding: 5px 10px;
	display: block;
	clear: both;
}
.breadcrumb li:last-child a{
	color: #2d89ef;
}
.page-header h1{
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #444444;
	font-size: 33px;
	font-weight: 300;
	letter-spacing: -0.02em;
	line-height: 32px;
}
.login-page h1:before,
.page-header h1:before{
	color: #2d89ef;
}
.page-header h1 i{
	display: none;
}
.panel.panel-default{
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.login-page .panel{
	margin-left: auto;
	margin-right: auto;
	max-width: 380px;
	background-color: transparent;
}
.panel.panel-default .panel-heading{
	border: 0;
	background: none transparent;
	padding: 0;
}
.login-page .panel.panel-default .panel-heading{
	padding: 20px 20px 0 20px;
	background-color: #ffffff;
}
.panel.panel-default .panel-heading .panel-title{
	color: #444444;
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin: 0;
}
.login-page .panel.panel-default .panel-heading .panel-title{
	padding-bottom: 10px;
	line-height: 25px;
}
.panel.panel-default .panel-heading .panel-title .fa{
	display: none;
}
.panel.panel-default > .list-group,
.panel.panel-default > .panel-collapse > .list-group,
.panel.panel-default > .table,
.panel.panel-default > .table-responsive > .table,
.panel.panel-default > .panel-collapse > .table,
.panel.panel-default > .panel-body{
	background: none repeat scroll 0 0 #ffffff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 3px solid #2d89ef;
	border-radius: 0 0 5px 5px !important;
	-webkit-box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.10);
	box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.10);
}
.login-page .panel.panel-default > .panel-body{
	padding: 0 20px 20px 20px;
	border: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 0 0 0 !important;
}
.login-page .panel.panel-default > .panel-body > form > .form-group + .form-group{
	margin-bottom: 0;
}
.login-page .panel.panel-default > .panel-body > form > .form-group + .form-group .help-block{
	margin-bottom: 0;
}
.panel > .table-responsive{
	border-radius: 0 0 5px 5px !important;
	box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.10);
	overflow-y: auto;
}
.legend .legendColorBox,
.legend .legendLabel{
	vertical-align: top;
}
.legend .legendColorBox > div{
	background: none repeat scroll 0 0 #ffffff !important;
	border: 1px solid #dedede !important;
	height: 16px !important;
	margin: 0 5px 3px 0 !important;
	padding: 0 !important;
	width: 16px !important;
}
.legend .legendColorBox > div > div{
	border-width: 5px !important;
	margin: 2px !important;
}
.legend .legendLabel{
	font-size: 12px;
}
.jqvmap-label,
#flotTip {
	background: none repeat scroll 0 0 #ffffff !important;
	border-bottom: 1px solid #dedede !important;
	border-right: 1px solid #dedede !important;
	border-left: 1px solid #dedede !important;
	border-top: 3px solid #2d89ef !important;
	color: #1d1d1d !important;
	font-size: 0.9em !important;
	padding: 5px 10px !important;
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25) !important;
}
.flot-x-axis .flot-tick-label.tickLabel.hidden-tooltip{
	display: none;
}
.tile{
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	border-top: 0;
	background: #FFFFFF;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	padding: 15px;
	border-radius: 0 0 5px 5px !important;
	-webkit-box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.1);
	-webkit-transition: opacity 0.5s ease 0s;
	-moz-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;
	cursor: pointer;
}
.tile:hover,
.tile:focus{
	border-bottom: 3px solid #2D89EF;
	margin-bottom: 13px;
}
.tile .c-icon-stack{
	position: absolute;
	opacity: 0.3;
	color: #FFFFFF;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
	-webkit-transition: opacity 0.5s ease 0s;
	-moz-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;
	width: 170px;
	height: 170px;
	overflow: hidden;
	text-align: center;
	bottom: -50px;
	z-index: 1;
}
.tile:hover .c-icon-stack,
.tile:focus .c-icon-stack{
	opacity: 1;
}
.tile .c-icon-stack i{
	left: 0;
	position: absolute;
	top: 0;
}
.tile .c-icon-stack i.icon.m-icon-blank{
	background-color: #2d89ef;
	font-size: 150px;
	padding: 10px;
	display: block;
}
.tile .c-icon-stack i.fa{
	font-size: 75px;
	padding: 10px;
	position: relative;
	top: 35px;
}
.tile .c-icon-stack i.fa + .fa-caret-up{
	display: none;
}
.tile .tile-heading,
.tile .tile-footer{
	display: none;
}
.tile .tile-body{
	line-height: normal;
	padding: 0;
	position: relative;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.8);
	float: right;
	padding-left: 10px;
}
.tile .tile-body h2{
	color: #1d1d1d;
	font-size: 24px;
	font-weight: 300;
	line-height: 1em;
	margin-bottom: 0;
}
.tile .tile-body .tile-body-sub{
	text-align: right;
	color: #888888;
	clear: both;
	margin-bottom: 5px;
}
.tile .tile-body .tile-body-sub .pull-right{
	margin-left: 10px;
}
.tile .tile-body .tile-body-sub .pull-left{
	margin-right: 10px;
}
.table > tbody > tr > td{
	/*padding: 3px 5px;*/
}

/* Graphs */
.graph-size-small{
	height: 103px;
}
.graph-size-medium{
	height: 206px;
}
.graph-size-normal{
	height: 230px;
}
.graph-size-large{
	height: 287px;
}

/* Widget - Sales Analytics */
.c-widget-normal .panel-body,
.c-widget-normal .list-group{
	height: 334px;
	overflow-y: auto;
}
#report-order-customer-statistic-day .legend,
#report-order-customer-statistic-week .legend,
#report-order-customer-statistic-month .legend,
#report-order-customer-statistic-year .legend{
	display: none;
}
.order-customer-legend-box{
	float: left;
	margin: 0 15px 3px 0;
}
.order-customer-legend-box .order-customer-legend-color{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	float: left;
	margin: 0 10px 0 0;
}
.order-customer-legend-box .legend-color-box{
	height: 10px;
	margin: 2px;
	width: 10px;
}
.order-customer-legend-box.stat-1 .legend-color-box{
	background: none repeat scroll 0 0 #2D89EF;
}
.order-customer-legend-box.stat-2 .legend-color-box{
	background: none repeat scroll 0 0 #EF6D2D;
}
.order-customer-legend-box .order-customer-legend-text{
	line-height: 16px;
	margin: 0 0 0 22px;
	width: 128px;
}
.order-status{
	float: right;
	padding-right: 19px;
	max-width: 350px;
}
.order-status .order-status-label{
	float: left;
	padding: 3px 6px;
	margin-top: 5px;
}
.order-status select#order-status-customer{
	float: left;
}
.custom-range-fields{
	margin-left: 10px;
	text-align: right;
	float: right;
	display: none;
}
.custom-range-fields .range-custom-input{
	font-size: 13px;
	width: auto;
}
.custom-range-fields input,
.custom-range-fields button{
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.datepicker td.old,
.datepicker td.new{
	padding: 6px 12px;
}
.bootstrap-datetimepicker-widget{
	width: auto;
}

/* Widget - Other Stats */
.other-stats{
}
.other-stats .panel-body{
	clear: both;
	padding: 10px 0;
	overflow-y: auto;
}
.other-stats .panel-body table{
	width: 100%;
}
.other-stats .other-stats-block{
	border-bottom: 1px solid #DEDEDE;
	margin: 0 0 1px;
	padding: 9px 10px;
	width: auto;
}
.other-stats .other-stats-block .other-stats-block-number{
	color: #656565;
	display: inline-block;
	float: left;
	font-size: 22px;
	font-weight: 300;
	margin: 0 10px 0 0;
	text-align: right;
	width: 60px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.other-stats .other-stats-block .other-stats-block-text{
	line-height: normal;
	margin-left: 60px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.other-stats .other-stats-block .other-stats-block-text a{
	font-weight: normal;
}

/* Widget - Top Customer/Top Product Block */
.top-customers,
.top-products{
	float: left;
	width: 100%;
}
.top-customers .panel-body,
.top-products .panel-body{
	clear: both;
	padding: 10px;
	overflow-y: auto;
}
.short-description{
	clear: both;
	color: #656565;
	margin: 0 0 10px;
}
.text_view,
.text_sold{
	display: none;
}
.top-customers-chart-outer,
.top-products-chart-outer{
	float: left;
	width: 49%;
	margin: 0 2% 0 0;
}
#top-customers-chart,
#top-products-chart{
	margin: 0 auto;
}
.top-customers-details,
.top-products-details{
}
.top-customers-details .range,
.top-products-details .range{
	margin: 0 0 10px;
}
.top-customers-details .range .range-label,
.top-products-details .range .range-label{
	float: left;
	margin: 3px 10px 0 0;
}
.top-customers-details .range #range-top-customers,
.top-products-details .range #range-top-products{
	float: left;
}
.top-customers-list,
.top-products-list{
	float: left;
	width: 49%;
}
.top-customers-list ul,
.top-products-list ul{
	list-style: none outside none;
	margin: 0;
	padding: 0 0 0 10px;
}
.top-customers-list ul li,
.top-products-list ul li{
	border-bottom: 1px solid #DEDEDE;
	clear: both;
	list-style: none outside none;
	margin: 0;
	padding: 7px 0;
}
.top-customers-list ul li .list-name,
.top-products-list ul li .list-name{
	color: #656565;
	margin: 0 0 0 20px;
	position: relative;
}
#top-customers-chart p,
#top-products-chart p{
	border: 1px dashed #656565;
	color: #656565;
	margin: 0 0 10px;
	padding: 5px;
	text-align: center;
}
.top-customers .top-customer-legend-color,
.top-products .top-product-legend-color{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	float: left;
	/*height: 14px;*/
	margin: 2px 0 0;
	/*width: 14px;*/
}
.top-customers .top-customer-legend-color .legend-color-box,
.top-products .top-product-legend-color .legend-color-box{
	height: 10px;
	margin: 2px;
	width: 10px;
}

/* Sales Value Block */
.sales-value{
/*	float: left;
width: 333px;*/
}
.sales-value .panel-body{
	clear: both;
	padding: 10px 0;
	overflow-y: auto;
}
.sales-value .dashboard-overview-outer{
	overflow: hidden;
}
.sales-value .sales-value-chart{
	float: left;
	margin: 0 0 10px 4%;
	max-height: 149px;
	text-align: center;
	width: 46%;
}
.sales-value #sales-value-chart{
	height: 126px;
	margin-left: auto;
	margin-right: auto;
	max-height: 149px;
	width: 99%;
}
.sales-value .sales-value-legend{
	float: left;
	padding: 10px 3% 0;
	width: 44%;
}
.sales-value .sales-value-legend > div{
	margin: 0 0 6px;
}
.sales-value .sales-value-legend .sales-this-year{
	position: relative;
}
.sales-value .sales-value-legend .sales-previous-years{
	position: relative;
}
.sales-value .sales-value-legend .sales-total{
	position: relative;
}
.sales-value .sales-value-legend .number-stat-legend-color{
	border: 1px solid #C6C6C6;
	padding: 2px;
	position: absolute;
	top: 2px;
}
.sales-value .sales-value-legend .number-stat-legend-color .legend-color-box{
	height: 10px;
	width: 10px;
}
.sales-value .sales-value-legend .sales-this-year .legend-color-box{
	background-color: #2d89ef;
}
.sales-value .sales-value-legend .sales-previous-years .legend-color-box{
	background-color: #ef6d2d;
}
.sales-value .sales-value-legend .sales-total .legend-color-box{
	background-color: #FFFFFF;
}
.sales-value .sales-value-legend .number-stat-number{
	color: #1d1d1d;
	font-size: 15px;
	padding: 0 0 0 20px;
}
.sales-value .sales-value-legend .number-stat-text{
	line-height: normal;
	padding: 0 0 0 20px;
}
.sales-value .sales-value-estimates{
	border-top: 1px solid #DEDEDE;
	clear: both;
}
.sales-value .sales-value-estimates .short-description{
	margin: 10px 0;
	padding: 0 10px;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures{
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates{
	border-bottom: 1px solid #DEDEDE;
	padding: 7px 10px ;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates > div{
	float: left;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates .sales-value-estimates-timeframe{
	width: 160px;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates .sales-value-estimates-arrow{
	display: none;
	height: 20px;
	width: 20px;
}
.sales-value .sales-value-estimates .sales-value-estimates-figures .estimates .sales-value-estimates-amount{
	color: #1d1d1d;
	float: none;
	font-size: 15px;
	margin-left: 160px;
	text-align: right;
}

/* Dashboard Editor */
#dashboard{
}
#dashboard-editor{
}
#dashboard-editor .dashboard-editor-color-profile,
#dashboard-editor .dashboard-editor-widget-editor{
	margin: 0 0 10px;
}
#dashboard-editor .dashboard-editor-color-profile .sub-heading,
#dashboard-editor .dashboard-editor-widget-editor .sub-heading{
	clear: both;
	position: relative;
}
#dashboard-editor .dashboard-editor-color-profile .buttons,
#dashboard-editor .dashboard-editor-widget-editor .buttons{
	float: right;
	margin: 2px 0 0;
	position: static;
}
.toggle-visible{
}
.toggle-hidden{
	display: none;
}
#dashboard-layout{
	display: block;
}
#c-gridster-data{
	/*display: none;*/
}
span.enabled{
	color: #008700;
}
span.disabled{
	color: #FF0000;
}
#create-new-layout-modal .success,
#create-new-layout-modal .warning{
	border-bottom-width: 1px;
	border-left-width: 0;
	border-right-width: 0;
	position: static;
}
.circloid-settings-content{
	clear: both;
}

/* Modal */
.border-block {
	width: 14.285714285714285714285714285714%;
	height: 5px;
	display: block;
	float: left;
}

/* ACTUAL Widget Layout Editor */
#layout-editor-left{
	float: left;
	width: 50%;
}
#layout-editor-right{
	float: left;
	width: 50%;
}
.layout-details form label{
	float: left;
	font-size: 13px;
	margin: 3px 10px 3px 0;
	width: 150px;
}
.layout-details form input{
	width: auto;
}
.widget-details{
	color: #1D1D1D;
}
.disabled-widgets,
.enabled-widgets{
	float: left;
	margin: 0 2% 0 0;
	width: 48%;
}
#sortable1,
#sortable2{
	border: 1px dashed #EEEEEE;
	float: left;
	list-style-type: none;
	margin: 0;
	min-height: 58px;
	padding: 3%;
	width: 95%;
}
#sortable1:hover,
#sortable2:hover{
	border: 1px dashed #AAAAAA;
}
#sortable1 li,
#sortable2 li{
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	cursor: move;
	margin: 0 0 12px;
	padding: 5px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-border-radius: 0 0 4px 4px !important;
	-moz-border-radius: 0 0 4px 4px !important;
	border-radius: 0 0 4px 4px !important;
}
#sortable1 li{
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 3px solid rgba(238, 17, 17, 0.3);
}
#sortable2 li{
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 3px solid rgba(0, 160, 157, 0.3);
}
#sortable1 li:hover{
	border-bottom: 3px solid rgba(238, 17, 17, 1);
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
}
#sortable2 li:hover{
	border-bottom: 3px solid rgba(0, 160, 157, 1);
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
}
.widget-details .widget-details-number{
	float: left;
	width: 20px;
}
.widget-details .widget-details-name{
	margin: 0 0 0 20px;
	padding: 0 0 3px 5px;
}
.widget-details .widget-details-colors{
	border-top: 1px dashed #8C8C8C;
	margin: 0 0 0 20px;
	padding: 6px 0 0 5px;
}
#sortable1 li.enabled-widget,
#sortable2 li.disabled-widget{
	border-bottom: 3px solid rgba(255, 196, 13, 0.3);
}
#sortable1 li.enabled-widget:hover,
#sortable2 li.disabled-widget:hover{
	border-bottom: 3px solid rgba(255, 196, 13, 1);
}

/* Color Picker */
.sp-dd{
	padding: 0 !important;
}
.sp-preview{
	height: 15px !important;
	width: 15px !important;
}
.layout-editor-preview-inner{
	border: 3px dashed #DDDDDD;
	margin: 0 0 0 100px;
	min-height: 435px;
	padding: 20px;
}

/* Preview Box */
#preview-box{
	margin: 0 auto;
}
.preview-layout{
	margin: 0 0 19px;
	text-align: center;
}
.preview-box-widget{
	background: none no-repeat scroll 0 0 #FFFFFF;
	border-color: #dedede #dedede #2D89EF;
	border-style: solid;
	border-width: 1px 1px 3px;
	float: left;
	font-size: 11px;
	height: 52px;
	margin: 0 1% 10px 0;
	text-align: center;
	width: 48%;
	-webkit-border-radius: 0 0 4px 4px !important;
	-moz-border-radius: 0 0 4px 4px !important;
	border-radius: 0 0 4px 4px !important;
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -o-box-shadow 0.5s;
	transition: box-shadow 0.5s;
}
.preview-box-widget:hover{
	-webkit-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.25);
}
.preview-box-widget.preview-box-order_customer_statistic{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-line-chart-large.png");
	background-position: 10px center;
	height: 70px;
	width: 100%;
}
.preview-box-widget.preview-box-order_customer_statistic_day,
.preview-box-widget.preview-box-order_customer_statistic_week,
.preview-box-widget.preview-box-order_customer_statistic_month,
.preview-box-widget.preview-box-order_customer_statistic_year{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-line-chart-normal.png");
	background-position: 10px center;
	width: 31.6239%;
}
.preview-box-widget.preview-box-sales_value{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-pie-chart.png");
	background-position: 10px center;
	height: 114px;
	width: 31.6239%;
}
.preview-box-widget.preview-box-other_stats{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-misc.png");
	background-position: 10px center;
	height: 114px;
	width: 31.6239%;
}
.preview-box-widget.preview-box-top_customers{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-customer.png");
	background-position: 10px center;
	height: 114px;
	width: 31.6239%;
}
.preview-box-widget.preview-box-top_products{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-products.png");
	background-position: 10px center;
	height: 114px;
	width: 31.6239%;
}
.preview-box-widget.preview-box-latest{
	background-image: url("../../../image/admin_theme/base5builder_circloid/icon-widget-orders.png");
	background-position: 10px center;
	height: 100px;
	width: 100%;
}
.row-fluid .preview-box-widget[class*="span"]{
	margin-left: 0;
	margin-right: 1.28%;
}
.preview-box-widget.preview-box-map{
	width: 63.2478%;
	height: 114px;
}
.preview-box-widget.preview-box-activity{
	height: 114px;
	width: 31.6239%;
}
.preview-box-widget.preview-box-quick_blocks{
	width: 100%;
}
.screen-size-warning{
	display: none;
}

/* Installation */
.dashboard-installation-outer{

}
.dashboard-installation-outer > .dashboard-installation-inner{

}
.dashboard-installation-outer > .dashboard-installation-inner > ul{
	padding: 0 0 0 10px;
}
.dashboard-installation-outer > .dashboard-installation-inner > ul > li{
	list-style: outside none none;
	margin: 10px 0;
}

/* Footer */
#footer{
	background: #ffffff;
	height: auto;
	text-align: center;
	color: #656565;
	font-size: 11px;
	padding-bottom: 2px;
}
.login-page #footer{
	background-color: transparent;
	display: none;
}
#column-left + #content + #footer,
#column-left.active + #content + #footer{
	margin-left: 95px;
}