/* Tablets Only - Start */

@media (max-width: 979px){
	.preview-box-widget{
		width: 100% !important;
	}
}

/* Tablets Only - End */


/* Everything Below Tablet - Start */
@media (max-width: 767px){
	.default-logo{
		display: none;
	}
	.medium-logo{
		display: block;
	}
	.navbar-brand{
		height: auto;
	}
	#column-left.active + #content,
	#column-left.active + #content + #footer{
		left: auto;
	}
}
/* Everything Below Tablet - End */


/* Phones & Below - Start */

@media (max-width: 480px){
	.medium-logo{
		display: none;
	}
	.small-logo{
		display: block;
	}
	#column-left,
	#column-left.active{
		left: -110px;
		display: none;
	}
	#column-left + #content,
	#column-left.active + #content,
	#column-left + #content + #footer,
	#column-left.active + #content + #footer{
		width: 100%;
		margin-left: 0;
	}
	ul.mainnav{
		background-color: #1D1D1D !important;
		background-image: url("../../../image/admin_theme/base5builder_circloid/site-bg@2x.png") !important;
		-webkit-box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.25);
		box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.25);
	}
	#menu-control{
		display: inline-block;
		float: left;
		margin: 10px 0 0 15px;
	}
	.visible-small-phone{
		display: block;
	}
	.hidden-small-phone{
		display: none;
	}
	.screen-size-warning{
		display: block;
	}
}

/* Phones & Below - End */


/* Smaller Phones & Below - Start */

@media (max-width: 320px){
}

/* Smaller Phones & Below - End */