@charset "utf-8";
#container #lower #right-col {
	width: 100px;
	float: right;
}
#container #lower #left-col {
	float: left;
	width: 100px;
	text-align: center;
}
#container #lower #left-col img {
	margin-top: 10px;
}
#container #header #logo {
	background-image: url(http://images.phoenixrestorations.com/nav-icons/logo.png);
	height: 64px;
	width: 64px;
	float: left;
}
#container #header form {
	width: 30%;
	float: left;
}



#container #lower #left-feature {
	float: left;
	width: 50%;
	margin-left: 10px;
}
#container #lower #right-feature {
	float: left;
	width: 30%;
	margin-left: 10px;
	height: 100%;
}
#container #lower {
	height: 100%;
	width: 100%;
	clear: both;
}
#container #header #info {
	float: right;
}
#container #header #info img {
	margin: 5px;
}
body {
	background-repeat: no-repeat;
	background-position: left;
}



#container #header #profile-container {
	float: right;
	width: 200px;
	vertical-align: bottom;
}
#container #right-slider-pane {
	width: 40%;
}

#container #header #profile-container img {
	float: left;
}
#container #header #profile-container #nav {
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	width: 120px;
}
