/*
 This file is part of the Quantum Unit Solutions development package.

 (c) Quantum Unit Solutions <http://github.com/dmeikle/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
*/
/* 
    Created on : 18-Feb-2016, 9:51:59 AM
    Author     : davem
*/

#bugform {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 60px;
    padding: 20px;
    width: 450px;
}