.status-badge {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
    display: inline-block;
    margin-bottom: 8px;
    
    &.bg-success {
        border-color: #3c763d;
    }
    &.bg-warning {
        border-color: #8a6d3b;
    }
    &.bg-info {
        border-color: #31708f;
    }
    &.bg-danger {
        border-color: #a94442;
    }
}