.card {
  @extend .widget;
  ul {
    list-style:none;
    padding-left:0;
  }
  h1 {
    font-size:2rem;
    font-weight: 300;
    margin:1rem;
  }
  .big {
    font-size:5rem;
    sup {
      font-size:3rem;
    }
  }
  .cardleft, .cardright {
    @extend .col-xs-6;

    border-top: 1px solid $gray-lighter;

    padding:.25rem;
  }
  .cardright {
    text-align:right;
  }
  .carddetails, .cardfooter {
    @extend .widgetfooter;
  }
}
