.card {
  @extend .widget;
  ul {
    list-style:none;
    padding-left:0;
  }
  h1 {
    font-size:2rem;
    margin:1rem 0;
  }
  .big {
    font-size:5rem;
    sup {
      font-size:3rem;
    }
  }
  .cardleft, .cardright {
    @extend .col-xs-6;

    padding:.5rem;
  }
  .carddetails, .cardfooter {
    @extend .widgetfooter;
  }
}
.cardheader {
  @extend .widgetheader;
}

.card img {
  height:128px;
  width:128px;
}

.cardtable {
  width:100%;
  font-size:.8em;

  thead {
    border-bottom: 1px solid $gray-lighter;
  }
  td {
    padding:.25em;
  }
  .cog-col {
    width:30px;
  }
}
