.document-list{
    h4, .secondary-text {
        font-size:14px;
        color:rgba(0,0,0,.54);
    }
    h4{
        font-weight:600;
    }
    .secondary-text{
        font-weight:400;
        /*margin-left:16px;*/
        vertical-align: middle;
    }
    .title {
        font-size:16px;
        margin-top:8px;
    }
    .document{
        margin-bottom:8px;
    }
}

.document-icon {
    width: 20px;
    margin: 0 8px;
    vertical-align: middle;        
    display: inline-block;
    /*float:right;*/
    content: url('/images/web-icons/file.svg');
    &.pdf {
        content: url("/images/web-icons/file-pdf.svg");
    }
    &.doc, &.docx {        
        content: url('/images/web-icons/file-word.svg');
    }
    &.xls, &.xlsx {        
        content: url('/images/web-icons/file-excel.svg');
    }
    &.jpg, &.gif, &.png, &.tif, &.tiff, &.jpeg {
        content: url('/images/web-icons/file-image.svg');
    }
}

documents{
    button{
        margin:1em 0;
    }
}