.dropdown-group {
    display:flex;
    input {
        width:50%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-group{
        width:50%;
    }
    .dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left:0;
        width: 100%;
        font-size:14px;
        height:36px;
    }
    .dropdown-menu {
        min-width:100px;
    }
    a {
        cursor:pointer;
        font-size:14px;
    }
    i {
        margin-left:.5em;
    }
}
