header {
  position:relative;
  z-index: 999;
  background-color:$navbar-default-bg;
  box-shadow:0 .25rem .25rem rgba(0,0,0,.25);
  .wrapper {
    padding:0;
  }
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  border:none;

  height:5vh;

  button {
    @extend .navbar-btn;
  }

  ul:not(.dropdown-menu) {
    @extend .nav;
    @extend .navbar-nav;
  }
}
