.message {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-md-offset-3;

    @extend .widget;

    margin-top:20vh;
}

.messagefooter {
    @extend .widgetfooter;
}
.message-window {
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 0px;
    padding: 1rem;    
    width: 450px
        
}
  