.total-col{
    text-align:center;
}
.center-row-inputs>td input{
    text-align: center;
}

.table-striped>tbody>tr {
    &.bg-warning {
        background-color: #fcf8e3;
        &:hover {
            background-color: #F5EFCF;
        }
    }
}