#tabs{
    //margin-top:10px;
    display:flex;
    margin:10px 20px;
    padding-left:1em;
    > div{
        min-width: 100%;
    }
    .tab-loader{
        //float:left;
        margin: 20px;
    }
    .nav-tabs{        
        li.dragging{
            opacity:.5;
        }
        a{
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
            /*border: 1px solid #ddd;*/
            //border-bottom-color: rgba(0, 0, 0, 0);
            padding: 5px 10px;
        }
        .active a{
            /*border: 1px solid #ddd;*/
            border-bottom-color: rgba(0, 0, 0, 0);
        }

        .close-tab{
            margin-left:.5em;
            cursor: pointer;
            color:rgba(0,0,0,.25);
            &:hover{
                color:rgba(0,0,0,.5);
            }
        }
    }
    .tab-include{
        > .widget{
            padding:1rem;
            box-shadow: none;
            border: 1px solid #ddd;
            border-top:0;
        }
        > div {
            /*padding:1rem;*/
        }
    }
    .tab-content{
        /*box-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.25);*/
        /*padding: 1rem;*/
        /*background-color: rgba(0,0,0,0);*/
        /*padding: 0;*/
    }
    >div>.tab-content{
        background-color: rgba(0,0,0,0);
        padding: 0;
        border: 0;
    }
    
}
.tab-container{
    margin-left:$side-nav-width;
    &.sideNavClosed{
        margin-left:$side-nav-closed-width;
    }
}