.widget {
  background-color:white;
  padding:1rem;
  border-radius: .25rem;
  box-shadow:0 .25rem .25rem rgba(0,0,0,.25);
  margin-bottom: 1rem;

  h1 {
    margin-top:0;
  }
}
.mailcontent {
  overflow-y: scroll;
  height: 150px;
  width: 100%;
  padding:1em 0;
}

.widgetfooter {
  padding: .75rem 0.25rem .25rem;
  border-top: 1px solid $gray-lighter;
  margin-bottom:0;
}
