@charset "utf-8";
#container-fluid #header-admin #account, #container #header #account {
	float: right;
	width: 100px;
}

#container #lower #leftnav {
    width: 200px;
    float:left;
}


 #header {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	height: 110px;
}

#header #logo {    
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
        width: 187px;
        height: 110px;
        text-indent: -9999px;
        float:left;
}
#header #nav {
    clear:both;
}

 #header ul li{
	display:inline;
        margin-left:20px;
}

 #header .subnav ul li{
	display:inline;
        margin:0px 0px 20px 20px;
}