
ul.dropdown-menu li p {
    text-align: center;
}

ul.dropdown-menu li.message-count  {
    text-align: center;
    font-size: small;
}

ul.dropdown-menu li a div.sender {
    font-weight: bold;
}

ul.dropdown-menu li a div.subject {
    font-size: smaller;
}
ul.dropdown-menu li a div.receiveTime {
    font-size: x-small;
    float: right;
}

ul.dropdown-menu li.view-all {
    font-size: small;
    clear: both;
    float: right;
    padding: 5px 5px 0px 0px;
}

ul.dropdown-menu li.message-alert {
    border-bottom: solid 1px #babcbf;
}