@import 'bootstrap-custom';

@mixin width-transition {
    transition: width ease .25s;
}

.widget-content {
    @include width-transition;
}

.widget-side-panel {
    @include width-transition;
}

.splitcolumn {
    @extend .col-xs-6;

    &.left {
        padding-left:0;
    }
    &.right {
        padding-right:0;
    }
}

.modal-xl {
    @extend .modal-lg;
    width: 1200px;

}
.select-col{
    width:45px;
}
.expand-btn{
    cursor:pointer;
}
.info-card {
    background: #f9f9f9;
}

.location {
	width: 100%;
}
.location .buzzer {
	float: right;
}
.location .telephone {
	width: 50%;
	float: left;
}
.location .unit h3 .numRooms {
	float: right;
}