RewriteEngine on
RewriteBase /

#Header set Access-Control-Allow-Origin "*" 
Options +FollowSymLinks

RewriteCond $1 !\.(gif|jpe?g|png|css|js|images|ttf|woff)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ index.php/$1 [QSA,L]
